{{#if friends}}
    {{!-- <a class="chip block chip-large green-yellow"> + New Friend</a>  --}}
    <form style="display:block;text-align:center;">
      {{input value=search placeholder="Search" preventDefault=true}}
    </form>
    {{#each sortedFriends as |friend|}}
        {{#link-to "profile-public" friend._id}} 
          <a class="chip block chip-large blue-yellow"> {{friend.username}}</a> 
      {{/link-to}}
    {{/each}}
{{else}}
  <h1> Friends: </h1>
  <h2> Add friends here by entering their email address or, if they are a signed up user, entering their username/email</h2>
  <div class="chip block chip-large green-yellow"> + </div>
{{/if}}
