 {{!-- FRIENDS LIST --}}
  <div class="friendslist-container friendslist-short background-blue">
    {{friends-add 
      modelFriendsArray=modelFriendsArray
      friends=session.data.authenticated.user.friends
    }}
  </div>

  {{!-- ADDED FRIENDS --}}
  <div class="friendslist-container friendslist-short background-blue">
    {{friends-added 
      modelFriendsArray=modelFriendsArray
    }}
  </div>
  {{!-- CANCEL BUTTON --}}
  <div class="chip inline chip-half red" {{action "showFriends" post}} > Cancel </div>
  {{!-- OK BUTTON --}}
  <div class="chip inline chip-half green-yellow" {{action "saveFriends" post}}> OK </div>