/*Main CSS*/
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}


/*LOG IN PAGE*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*SIGN UP PAGE*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*BLOG POSTS*/
/*BLOG POSTS*/
.main-container {
  width: 900px;
  margin: 50px auto;
  padding: 0 10%;
}
.blogposts-container {
  width: 100%;
  display: inline-block;
}
/*.sidebar-container {
  width: 33%;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
}*/
.newpost-container {
  display: block;
  border: 2px solid black;
  border-radius: 5px;
}

.blog-header {
  display: block;
  margin: 15px 0;
}
.blog-title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.newpost-button {
  width: 48.2%;
  display: inline-block;
  position: relative;
  border: 1px solid grey;
  border-radius: 5px;
  height:120px;
  margin: 5px;
}
.newpost-button > button {
  width: 100%;
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
  text-align: center;
  /*REMOVES DEFAULT BUTTON STYLING*/
  color: black;
  border: none;
  background: none;

}
.blogpost {
  width: 100%;
}






.form-new-post{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-new-post .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-new-post .title {
  margin-bottom: -1px;
  width: 100%;
  padding: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-new-post .content {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.blogpost_container_main {
  top: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.blogpost_container_title {
  /*position: relative;*/
  display: block;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}
  .blogpost_title_image {
    object-fit: cover;

    height: 100%;
    width: 100%;
  }
  .blogpost_title_text_container {
    background-color: rgba(0,0,0,0.6);
        background: linear-gradient(rgba(0,0,0,0.5), #161616);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
  }
    .blogpost_title_headline {
      color: white;
      font-size: 3.25rem;
      font-weight: normal;
      line-height: 1;
      font-family: "Times New Roman", Times, serif;
      padding: 30px 0px;
      max-width: 500px;
      /*display: block;*/
      position: relative;
      /*bottom: 0;*/
      /*left: 0;*/
      margin: 0 auto;
    }
    .blogpost_title_content {
      color: white;
      font-family: "Times New Roman", Times, serif;
      font-size: 1.25rem;
      padding: 15px 10px 30px;
      max-width: 500px;
      margin: 0 auto;
      position: relative;
    }
.blogpost_container_article {
  position: relative;
  margin: 0 auto;
}
  .blogpost_article_text {
    background-color: rgba(0,0,0,0.1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    /*padding-top: 3.25rem;*/
    padding-bottom: 3.25rem;
    max-width: 61.25rem;
    position: relative;
    margin: 0 auto;
    display: block;
  }
  .blogpost_article_bio{
    /*background-color: rgba(0,0,0,0.025);*/
    padding: 2rem 1.25rem 1.25rem 1.25rem;
    max-width: 61.25rem;
    position: relative;
    margin: 0 auto 20px;
    display: block;
  }
  .blogpost_article_meta {
    display: inline-block;
    padding: 5px 0 10px 5px;
    color: #888888;
    font-size: .8rem;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .blogpost_container_meta {
    padding-left: 20px;
    display: inline-block;
  }
  .icon {
    height: 25px;
    margin: 0 0 -10px 0;
  }
  .blogpost_author {
    text-decoration: none;
    background-color: #888888;
    border-radius: 5px;
    padding: 4px 8px;
  }
  .blogpost_bio_author {
    text-decoration: none;
    text-align: center;
    padding: 4px 8px;
    display: inline-block;
    margin: 0;
    width: 100%;
  }
  .blogpost_bio_text {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    /*padding-top: 3.25rem;*/
    padding-bottom: 3.25rem;
    max-width: 41.25rem;
    position: relative;
    margin: 0 auto;
    display: block;
  }
