// Global Variables
// Fonts
$font-stack: Helvetica, sans-serif;
$primary-font-color: #fce0ff; // pink
$secondary-font-color: #feffe0; // yellow
$tertiary-font-color: #d2a0ef; // purple
$fourthiary-font-color: #82c8ff; // darker blue
// Backgrounds
$primary-background-color: #82c8ff; // darker blue
$secondary-background-color: #e0fffd; // light blue
$tertiary-background-color: #fce982; // yellow-orange
$fourthiary-background-color: #fce0ff; // pink
$fourthiary-background-color-hover: #faddff; // darker pink
$negative-background-color: #fc8389; //red
$positive-background-color: #b5ff84; //green
// Blogposts
$width-newpost: 800px;
// Mixins
@mixin border-radius($border-radius) {
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
      -ms-border-radius: $border-radius;
          border-radius: $border-radius;
}


// GENERAL CSS
.buttons-default {
	background: none;
	border: none;
  border:none;
  margin: 10px;
}

// Main
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $primary-background-color;
}
#main-container {
  width: 990px;
  margin: 50px auto;
}

// blog-posts.hbs
#blog-posts-header {
	color: $primary-font-color;
	margin: 20px 0;

	h1 {
		text-align: center;
	}
}

#newpost-options {
	width: 100%;
}
.newpost-button {
  @include border-radius(10px);
  width: 48.2%;
  display: inline-block;
  background-color: $fourthiary-background-color;
  color: $tertiary-font-color;
  margin: 5px;
}
.newpost-button > button {
	@extend .buttons-default;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 24px;
  height: 120px;
}
.newpost-button:hover {
	background-color: $fourthiary-background-color-hover;
}

.options-addfriends {
	@extend .buttons-default;
	width: 100%;
  font-size:1em;

  h2 {
  	@include border-radius(15px);
  	width: 300px;
  	margin: 0 auto;
  	padding: 25px;
  	color: $secondary-font-color;
  	background-color: $tertiary-background-color;
  }
}

#form-newpost {
	@include border-radius(15px)
	width: $width-newpost;
	margin: 0 auto 10px;
	text-align: center;
	background-color: $fourthiary-background-color;
	padding: 50px;

	h2 {
		color: $tertiary-font-color;
	}

	input {
		width: $width-newpost - 150px;
	}
}

.newpost-content {
	width: $width-newpost - 150px;
	max-width: $width-newpost - 150px;
	height: 200px;
}

// #form-newpost 
.newpost-buttons {
	@extend .buttons-default;
	@include border-radius(10px);
	padding: 10px;
	width: 90px;
}
.newpost-post-button {
	@extend .newpost-buttons;
	background-color: $tertiary-background-color;
}
.newpost-cancel-button {
	@extend .newpost-buttons;
	background-color: $negative-background-color;
}
.tokens-friendslist {
  color: $secondary-font-color;
	display: block;
	text-align: center;
}
.tokens-xfriendslist > h2 {
	@include border-radius(15px);
	background-color: $positive-background-color;
	color: $secondary-font-color;
	display: block;
	margin: 5px auto;
	padding: 20px;
	text-align: center;
	width: $width-newpost;
}
.tokens-friend {
	@extend .newpost-post-button;
	display: inline-block;
	width: auto;
}
.token-xfriend {
	@extend .newpost-cancel-button;
	background-color: $positive-background-color;
	display: inline-block;
	width: auto;
}






/*BLOG POSTS*/
/*BLOG POSTS*/
.blogposts-container {
  display: block;
  position: relative;
  text-align: left;
  background-color: $tertiary-background-color;
  border-radius: 10px;
  padding: 25px 20px;
}
.blogpost {
	display: block;
	position: relative;
	background-color: $primary-background-color;
	padding: 10px 15px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-sizing: content-box;

	.blogpost-title {
		font-size: 36px;
		text-align: center;
		margin: 0px 0 5px 0;
	}
	.blogpost-subtitle {
		text-align: center;
		margin: 5px 0 0 0;
	}
	.blogpost-author {
		display: block;
		margin: 2px;
		text-align: center;
		h3 {
			color: $fourthiary-font-color;
			display: inline-block;
			background-color: $secondary-background-color;
			text-decoration: none;
			padding: 5px 15px;
			margin: 0 5px;
			border-radius: 10px;
		}
	}	
	.blogpost-date {
		// float: left;
		position: absolute;
		top: 70px;
		margin: 20px 0 0 10px;;
	}
	.blogpost-private {
		position: absolute;
		top: 0px;
		left: 25px;
		background-image: url('/assets/images/private-512.png');
		background-color: $negative-background-color;
		border-radius: 30px;
		padding: 30px;
		background-size: cover;
	}	
	.blogpost-public {
		position: absolute;
		top: 0px;
		left: 25px;
		background-image: url('/assets/images/public-512.png');
		background-color: $positive-background-color;
		border-radius: 10px;
		padding: 30px;
		background-size: cover;
	}
	.blogpost-lowerdiv {
		display: block;
		background-color: $secondary-background-color;
		padding: 20px;
		border-radius: 20px;
		margin: 30px 20px;
	}
	.blogpost-friend {
		display: inline-block;
		margin: 2px;
		text-align: center;
		margin: 0 auto;
		color: $fourthiary-font-color;
		display: inline-block;
		background-color: $tertiary-background-color;
		text-decoration: none;
		padding: 5px 15px;
		margin: 0 5px;
		border-radius: 10px;
	}
	.blogpost-content {
		margin: 10px 20px;
	}
}
/*.sidebar-container {
  width: 33%;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
}*/
.newpost-container {
  display: block;
  border: 2px solid black;
  border-radius: 5px;
}

.blog-header {
  display: block;
  margin: 15px 0;
}
.blog-title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}




/*LOG IN PAGE*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*SIGN UP PAGE*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

//blogposts





.form-new-post{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-new-post .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-new-post .title {
  margin-bottom: -1px;
  width: 100%;
  padding: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-new-post .content {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.blogpost_container_main {
  top: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.blogpost_container_title {
  /*position: relative;*/
  display: block;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}
  .blogpost_title_image {
    object-fit: cover;

    height: 100%;
    width: 100%;
  }
  .blogpost_title_text_container {
    background-color: rgba(0,0,0,0.6);
        background: linear-gradient(rgba(0,0,0,0.5), #161616);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
  }
    .blogpost_title_headline {
      color: white;
      font-size: 3.25rem;
      font-weight: normal;
      line-height: 1;
      font-family: "Times New Roman", Times, serif;
      padding: 30px 0px;
      max-width: 500px;
      /*display: block;*/
      position: relative;
      /*bottom: 0;*/
      /*left: 0;*/
      margin: 0 auto;
    }
    .blogpost_title_content {
      color: white;
      font-family: "Times New Roman", Times, serif;
      font-size: 1.25rem;
      padding: 15px 10px 30px;
      max-width: 500px;
      margin: 0 auto;
      position: relative;
    }
.blogpost_container_article {
  position: relative;
  margin: 0 auto;
}
  .blogpost_article_text {
    background-color: rgba(0,0,0,0.1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    /*padding-top: 3.25rem;*/
    padding-bottom: 3.25rem;
    max-width: 61.25rem;
    position: relative;
    margin: 0 auto;
    display: block;
  }
  .blogpost_article_bio{
    /*background-color: rgba(0,0,0,0.025);*/
    padding: 2rem 1.25rem 1.25rem 1.25rem;
    max-width: 61.25rem;
    position: relative;
    margin: 0 auto 20px;
    display: block;
  }
  .blogpost_article_meta {
    display: inline-block;
    padding: 5px 0 10px 5px;
    color: #888888;
    font-size: .8rem;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .blogpost_container_meta {
    padding-left: 20px;
    display: inline-block;
  }
  .icon {
    height: 25px;
    margin: 0 0 -10px 0;
  }
  .blogpost_author {
    text-decoration: none;
    background-color: #888888;
    border-radius: 5px;
    padding: 4px 8px;
  }
  .blogpost_bio_author {
    text-decoration: none;
    text-align: center;
    padding: 4px 8px;
    display: inline-block;
    margin: 0;
    width: 100%;
  }
  .blogpost_bio_text {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    /*padding-top: 3.25rem;*/
    padding-bottom: 3.25rem;
    max-width: 41.25rem;
    position: relative;
    margin: 0 auto;
    display: block;
  }
