<h1>New Post:</h1>
<form {{action "createPost" model on="submit"}} >
  <label for="title"> New Post </label>

  <br>

  {{input type="text" id="title" placeholder="Title" value=model.blogPost.title}}

  <br>

  {{input type="text" id="content" placeholder="New Post" style="height: 400px; width: 75%;" value=model.blogPost.content}}

  <br>

  <button type="submit"> Submit Post </button>
</form>

{{outlet}}
