 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          {{#link-to "home" class="navbar-brand"}} Private Blog {{/link-to}}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a> {{#link-to "home"}} Home {{/link-to}}</a></li>
            {{#if session.isAuthenticated}}
              {{#if currentUser.user}}
                <li> 
                  {{#link-to "profile" class="buttons profile"}} 
                    Profile {{!-- {{currentUser.user.username}} --}}
                  {{/link-to}} 
                </li>
              {{/if}}
                <li {{action 'logout'}}> <a href=""> Logout </a> </li>
              {{else}}
                <li>
                  {{#link-to "signup" }}
                    Sign Up
                  {{/link-to}}
                </li>
                <li>
                  {{#link-to "login" }}
                    Log In
                  {{/link-to}}
                </li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{{outlet}}



