<h1>Welcome to Private Blog!</h1>

{{#link-to "home" class="buttons header home" tagName="button"}} Home {{/link-to}}
{{#link-to "posts" class="buttons header posts" tagName="button"}} Posts {{/link-to}}
{{#link-to "friends" class="buttons header friends" tagName="button"}} Friends {{/link-to}}

{{outlet}}