<h1>Below are different pages</h1>

{{#link-to "login" class="buttons header login" tagName="button"}} Login {{/link-to}}
{{#link-to "user" class="buttons header user" tagName="button"}} Users {{/link-to}}

{{#link-to "home" class="buttons header home" tagName="button"}} Home {{/link-to}}
{{#link-to "posts" class="buttons header posts" tagName="button"}} Posts {{/link-to}}
{{#link-to "friends" class="buttons header friends" tagName="button"}} Friends {{/link-to}}

{{outlet}}