<h1>Friends</h1>

<div>
  <h3> Heare is a list of friends: </h3>
  <ul>
    {{#each model as |friend|}}
      {{#link-to "friends.friend" friend.id class="buttons friend"}} <li>{{friend.lastName}}, {{friend.firstName}}</li> {{/link-to}}
      <br>
    {{/each}}
  </ul>
</div>

{{outlet}}
