{{#if session.isAuthenticated}}
  {{!-- PUT INFORMATION YOU WANT SHOWN TO LOGGED IN USERS --}}
  {{outlet}}

{{else}}
  <div>Welcome to The Private Blog. Please Log In or Sign Up to start creating blog posts</div>
  <button class="btn btn-lg btn-primary" style="color:white;">
    {{#link-to "login" }}
      Log In
    {{/link-to}}
  </button>
  <button class="btn btn-lg btn-primary" style="color:white;">
    {{#link-to "signup" }}
      Sign Up
    {{/link-to}}
  </button>
{{/if}}
