<div id="main-container">
  <div id="user-container">
<div id="blogposts-container" class="full-width">
{{blog-post-template 
    modelFriendsArray=model.friends
    post=model
    reverse=model
  }} 
</div>
</div>
</div>