<h1>Welcome to your Profile</h1>

<div>
  <h2> UserName: </h2> <p>{{currentUser.user.username}}</p>
  <h2> Email: </h2> <p>{{currentUser.user.email}}</p>
  <h2> ID: </h2> <p>{{currentUser.user._id}}</p>
</div>
{{outlet}}
